<div class="pr-board box row justify-content-center">
    <h5> Criterios del proceso </h5>   
    <div class="col-12 col-md-8">
        <table id="criteria-table" class="table table-sm mt-10 w-100">
            <thead class="thead-light">
                <tr style="text-align: center">
                    <th class="dss-pnrp"> Criterio 
                        <button type="button" id="add-btn" class="icon icon-add text-light" style="margin-left: 2%; padding: 0px; height: 24px; width: 12%; border-radius: 15px;"></button>
                    </th>
                    <th> Descripcion </th>
                    <th> Valor por defecto </th>
                    <th> Eliminar </th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center">
                    <td> <%=  text_field_tag "criterias[][name]", '', class: "form-control form-control-sm" %> </td>
                    <td> <%=  text_field_tag "criterias[][description]", '', class: "form-control form-control-sm" %> </td>
                    <td> <%=  number_field_tag "criterias[][value]", '', class: "form-control form-control-sm" %> </td>
                    <td class="dss-pnrp"> <button type="button" id="delete-btn" class="icon icon-del remove-row center-backgroud" style="padding-top:5px"></button> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<%= javascript_tag do %>
  $("#add-btn").click(function(e) {
    let html = "";
    html += '<tr style="text-align: center">';
    html += '<td> <%=  text_field_tag "criterias[][name]", '', class: "form-control form-control-sm"%> </td> '; 
    html += '<td> <%=  text_field_tag "criterias[][description]", '', class: "form-control form-control-sm" %> </td>';
    html += '<td> <%=  number_field_tag "criterias[][value]", '', class: "form-control form-control-sm"  %> </td>';
    html += '<td class="dss-pnrp"> <button type="button" class="icon icon-del remove-row" style="padding-top:0px"></button> </td>';
    html += '</tr>';
    $('#criteria-table > tbody:last-child').append(html);
    
    // Attach event to new delete button
    $('.remove-row').last().click(function() {
      $(this).closest('tr').remove();
    });
  });
  
  // Attach event to existing delete buttons
  $('.remove-row').click(function() {
    $(this).closest('tr').remove();
  });
<% end %>
