<div class="pr-board box">
    <h5> Criterios del proceso </h5>   
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <table id="criteria-table" class="table table-sm mt-10 w-100">
                <thead class="thead-light">
                    <tr style="text-align: center">
                        <th> Criterio 
                            <button type="button" id="add-btn" class="text-light btn btn-info" style="margin-left: 2%; padding: 0px; height: 24px; width: 12%; border-radius: 15px;">
                            <i class="fas fa-plus" style="font-size: 9px; vertical-align: 30%;"></i>
                            </button>
                        </th>
                        <th> Descripcion </th>
                        <th> Valor por defecto </th>
                    </tr>
                </thead>
                    
            
                <tbody>
                    <tr style="text-align: center">
                        <td> <%=  text_field_tag "criterias[][name]", '', class: "form-control form-control-sm" %> </td>
                        <td> <%=  text_field_tag "criterias[][description]", '', class: "form-control form-control-sm" %> </td>
                        <td> <%=  number_field_tag "criterias[][value]", class: "form-control form-control-sm" %> </td>
                        <td> <button type="button" id="delete-btn" class="btn btn-danger" style="padding-top:5px"> <i class="fas fa-times" style="vertical-align: top;font-size: 16px;"></i> </button> </td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
</div>


<%= javascript_tag do %>
  $("#add-btn").click(function() {
    let html = "";
    html += '<tr style="text-align: center">';
    html += '<td> <%=  text_field_tag "criterias[][name]", '', class: "form-control form-control-sm"%> </td> '; 
    html += '<td> <%=  text_field_tag "criterias[][description]", '', class: "form-control form-control-sm" %></td>';
    html += '<td> <%=  number_field_tag "criterias[][value]", '', class: "form-control form-control-sm"  %> </td>';
    html += '<td> <button type="button" class="btn btn-danger remove-row" style="padding-top:0px">';
    html += '<i class="fas fa-times" style="vertical-align: top;font-size: 16px;"></i>';
    html += '</button></td></tr>';
    $('#criteria-table > tbody:last-child').append(html);
    
    // Attach event to new delete button
    $('.remove-row').last().click(function() {
      $(this).closest('tr').remove();
    });
  });
  
  // Attach event to existing delete buttons
  $('.remove-row').click(function() {
    $(this).closest('tr').remove();
  });
<% end %>