<div class="titlewrapper">
  <div class="title">
    <h4>Seleccionar alternativas</h4>
  </div>
  <div class="backbutton">
    <%= link_to "Atras", prioritization_process_path(@pp['id']) %>
  </div>
</div>

<%= form_with url: solution_apply_prioritization_process_path(), method: :post do |form| %>
  <div class="pr-board box">
    <% @alternatives.each do |alternative| %>
      <div class="alternative list">
        <div class="alternative-option"> 
          Ejecucion: <%= alternative[0] %> 
        </div>
        <div class="alternative-option"> 
          Aplicada: <%= alternative[1] ? 'Si' : 'No' %> 
        </div>
      </div>
      <div class="alternative list">
        <div class="alternative-option"> 
          <%= radio_button_tag :selected_alternative, alternative[2] %>
          <label for="alternative<%= alternative[1] %>"> Alt <%= alternative[2] %> </label>
        </div>
        <div class="alternative-issues"> 
          <% alternative[3].each do |column| %>
          <div class ="issues-column"> 
            <div class="issue-column-priority">
              <%= column[:name] %>
            </div>

            <% column[:issues].each do |row| %>
              <div class="issue-column-subject">
                <%= link_to row.subject, issue_path(row) %>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class='buttons'>
        <%= form.button "Aplicar" %>
    </div>     
  </div>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "tables", plugin: "dss_pnrp" %>
  <%= stylesheet_link_tag "bootstrap", plugin: "dss_pnrp" %>
  <%= stylesheet_link_tag "options", plugin: "dss_pnrp" %>
<% end %>
  
