<div class="titlewrapper">
  <div class="title">
    <h4>Nuevo proceso de priorizacion</h4>
  </div>
  <div class="backbutton">
    <%= link_to "Atras", index_requeriment_engineering_path(@project['id']) %>
  </div>
</div>

<%= form_with url: project_prioritization_process_index_path(), method: :post do |form| %>
    
    <%= render partial: "decision_taker" %>
    <%= render partial: "criteria_add" %>
    <%= render partial: "requirement_selection"%>

    <div class='buttons'>
        <%= form.submit "Crear" %>
    </div>
    
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "bootstrap", plugin: "dss_pnrp" %>
  <%= stylesheet_link_tag "options", plugin: "dss_pnrp" %>
  <%= javascript_include_tag "new_process", plugin: "dss_pnrp" %>
<% end %>
