<h3>Ingeniería de requerimientos</h3>             

<hr>

<!--Tabla de Priorizacion -->
<table class="table table-striped">
 <thead class="thead-light">
    <h5 style="text-align center"> 
    Procesos de Priorización 
    
    <%= link_to '<button type="button" class="btn btn-info" style="
            border-radius: 20px;
            width: 26px;
            text-align: center;
            line-height: 0px;
            padding: 0px;
            color: white;">+</button>'.html_safe, new_project_prioritization_process_path(@project), class: "text-light font-weight-bold" %>
    
    </h5>
 </thead>

 <tbody>
  <tr>
      <th class="text-center"> ID </th>
      <th class="text-center"> Finalizo </th>
      <th class="text-center"> Fecha de Inicio (Start date) </th>
      <th class="text-center"> Fecha de Actualización (Updated date) </th>
  </tr>
      <% @pps.each do |pp|%>
        <tr>
          <td align="center">
            <%= link_to "#{'Prioritization Process' + ' ' + pp['id'].to_s}", prioritization_process_path(pp) %>
          </td>   
          <td align="center">
          <%= pp['is_ended'] ? 'Si' : 'No' %>
          </td>
          <td align="center">
          <%= pp['created_at'] %>
          </td>
          <td align="center">
          <%= pp['updated_at'] %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>

<hr>

<!--Tabla de Proximos lanzamientos-->
<table class="table table-striped">
  <thead class="thead-light">
    <h5> Procesos de Próximos Lanzamientos </h5>
  </thead>

  <tbody> 
    <tr>
      <th class="text-center"> ID </th>
      <th class="text-center"> Finalizo </th>
      <th class="text-center"> Fecha de Inicio (Start date) </th>
      <th class="text-center"> Fecha de Actualización (Updated date) </th>
    </tr>
          <tr>   
            <td align="center">
            Next Release Process 1
            </td>
            <td align="center">
            Si
            </td>
            <td align="center">
            2022-03-20 20:01:40 UTC
            </td>
            <td align="center">
            2022-03-20 20:05:23 UTC
            </td>
          </tr>
  </tbody>

</table>

<hr>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "bootstrap", plugin: "dss_pnrp" %>
<% end %>
