<h2>Ingeniería de requerimientos</h2>

<hr>

<!--Tabla de Priorizacion -->

<table class="table table-striped">
 <thead class="thead-light">
    <h5 style="text-align center"> 
    Procesos de Priorización 
    
    <%= link_to '<button type="button" class="btn btn-info" style="
            border-radius: 20px;
            width: 26px;
            text-align: center;
            line-height: 0px;
            padding: 0px;
            color: white;">+</button>'.html_safe, new_project_priorization_process_path(@project), class: "text-light font-weight-bold" %>
    
    </h5>
 </thead>

 <tbody>
  <tr>
      <th class="text-center"> ID </th>
      <th class="text-center"> Estado (Status) </th>
      <th class="text-center"> Fecha de Inicio (Start date) </th>
      <th class="text-center"> Fecha de Actualización (Updated date) </th>
  </tr>
      <% @pps.each do |pp|%>
        <tr>
          <td align="center">
            <%= link_to "#{'Priorization Process' + ' ' + pp['id'].to_s}", priorization_process_path(pp) %>
          </td>   
          <td align="center">
          <%= pp['status'] %>
          </td>
          <td align="center">
          <%= pp['created_at'] %>
          </td>
          <td align="center">
          <%= pp['updated_at'] %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>

<hr>

<!--Tabla de Proximos lanzamientos-->
<table class="table table-striped">
  <thead class="thead-light">
    <h5> Procesos de Próximos Lanzamientos </h5>
  </thead>

  <tbody> 
    <tr>
        <th class="text-center"> ID </th>
        <th class="text-center"> Estado (Status) </th>
        <th class="text-center"> Fecha de Inicio (Start date) </th>
        <th> Descripción (Description) </th>
    </tr>
        <% @nrp.each do |issue|%>
          <tr>   
            <td align="center">
            <%= issue['id'] %>
            </td>
            <td align="center">
            <%= issue['status_id'] %>
            </td>
            <td align="center">
            <%= issue['start_date'] %>
            </td>
            <td>
            <%= issue['description'] %>
            </td>
          </tr>
        <% end %>
  </tbody>

</table>

<hr>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "bootstrap", plugin: "dss_pnrp" %>
<% end %>
