<h2>RequerimentEngineeringController#index</h2>

<%= link_to "Menu personas", "/priorization_process_persons" %>
<%= link_to "Menu algoritmos", "/priorization_process_algorithms" %>
<%= link_to "Menu alternativas", "/priorization_process_alternatives" %>
<%= link_to "Menu listado", "/priorization_process_show" %>


<hr>
<!--Cabecera-->
    <div class="pr-board box">
        Project <%= @project['id'] %>
    </div> 

<hr>
<!--Tabla de Priorizacion -->
<table>
<tr>
  <th> Priorizacion </th>
<tr>
<tr>
    <th> id </th>
    <th> status </th>
    <th> start date </th>
    <th> updated date </th>
</tr>
    <% @pps.each do |pp|%>
      <tr>
        <td align="center">
          <%= link_to "#{'PriorizationProcess#' + pp['id'].to_s}", pp_path(pp) %>
        </td>   
        <td>
         <%= issue['status'] %>
        </td>
        <td>
         <%= issue['created_on'] %>
        </td>
        <td>
         <%= issue['updated_on'] %>
        </td>
       </tr>
    <% end %>

</table>

<hr>
<!--Tabla de Proximos lanzamientos-->
<table>
<tr>
  <th> Proximos lanzamientos </th>
<tr>
<tr>
    <th> id </th>
    <th> status </th>
    <th> start date </th>
    <th> description </th>
</tr>
    <% @issues2.each do |issue|%>
      <tr>   
        <td align="center">
         <%= issue['id'] %>
        </td>
        <td>
         <%= issue['status_id'] %>
        </td>
        <td>
         <%= issue['start_date'] %>
        </td>
        <td>
         <%= issue['description'] %>
        </td>
       </tr>
    <% end %>

</table>