<h2>PriorizationProcessController#criteria</h2>

<form>
    <div class="pr-board box">
        <table class="table w-50 mt-5">
             <thead class="thead-dark">
                <tr>
                    <th> Ponderacion de criterios </th>
                </tr>
             </thead>

             <tbody>
                <% @criterias.each do |criteria| %>
                <tr>
                  <td>
                    <label for="criteria <%= criteria['id'] %>"> <%= criteria['id'] %>. </label>
                    <%= criteria['name']%>
                  </td>

                
                  <tr>
                   <td>
                    <input type="number" value=<% criteria['value'] %> />
                    <!-- <input type="number" placeholder="<%='value'%>" value="<%='value'%>" > -->       
                   </td>
                  </tr>
                 </tr>

                <% end %>
              

             </tbody>
        </table>
    </div>


    <div class='buttons'>
      <input type="submit" value='Seleccionar'>
    </div>
</form>

