<h2>Ejecutar proceso de priorizacion</h2>

<%= form_with url: execute_create_priorization_process_path(), method: :post do |form| %>
    <div class="pr-board box">
        <h2>Seleccionar algoritmo</h2>
        <table class="table w-50 mt-5">
            <thead class="thead-dark"
                <tr>
                    <th> Algoritmos </th>
                </tr>
            </thead>
                
            <tbody>
                <% @algorithms.each do |algorithm| %>
                <tr>
                    <td>        
                        <input type="radio" name="selectAlgorithm" value="algorithm<%= algorithm['id'] %>">
                        <label for="algorithm<%= algorithm['id'] %>"> <%= algorithm['id'] %>. </label>
                        <%= algorithm['name'] + ' ' + algorithm['version']%> 
                    </td>
                    <table>
                    <tr>
                        <% algorithm['parameters'].each do |param| %>
                            <td>
                                <%= param['name'] %>
                                <%=  number_field_tag "algorithm['parameters'][#{param['name']}]", '#{param['defaultValue']}'  %>
                                <!--  <input type="number" name= <%= param['name'] %> placeholder="<%= param['defaultValue']%>" value= "<%=param['defaultValue']%>" > %> -->
                             
                            </td>
                    </tr>
                    <% end %>
                </table>
                    
                </tr>
                <% end %>
            </tbody>

        </table>
    </div>

    <div class="pr-board box">
        <h2>Ponderacion de criterios</h2>
        <table class="table w-50 mt-5">
            <thead class="thead-dark">
                <tr>
                    <th> Nombre </th>
                    <th> Descripcion </th>
                    <th> Valor </th>
                </tr>
            </thead>

            <tbody>
                <% @criterias.each do |criteria| %>
                <tr>
                    <td> <%= criteria['name']%> </td>
                    <td> <%= criteria['description']%> </td>
                    <td> <%=  number_field_tag "criterias[#{criteria['name']}][value]"  %> </td>
                </tr>
                <% end %>
                
            </tbody>
        </table>
    </div>

    <div class='buttons'>
        <%= form.submit "Crear" %>
    </div>
    
<% end %>