<h2>Ejecutar proceso de priorizacion</h2>

<%= form_with url: execute_create_priorization_process_path(), method: :post do |form| %>
    <div class="pr-board box">
        <h2>Seleccionar algoritmo</h2>
        <table class="table w-50 mt-5">
            <thead class="thead-dark"
                <tr>
                    <th> Algoritmos </th>
                </tr>
            </thead>
                
            <tbody>
                <%  if @algorithms.any? %>
                    <% @algorithms.each do |algorithm| %>
                    <tr>
                        <td>        
                            <%= radio_button_tag "selected", algorithm['name'] %>
                            <%= hidden_field_tag "algorithms[#{algorithm['name']}][id]", algorithm['id'] %>
                            <%= hidden_field_tag "algorithms[#{algorithm['name']}][name]", algorithm['name'] %>
                            <%= hidden_field_tag "algorithms[#{algorithm['name']}][version]", algorithm['version'] %>
                            <%= algorithm['name'] + ' ' + algorithm['version']%> 
                        </td>
                        <table>
                        <tr>
                            <% algorithm['parameters'].each do |param| %>
                                <td>
                                    <%= param['name'] %>
                                    <%= hidden_field_tag "algorithms[#{algorithm['name']}][parameters][#{param['name']}][id]", param['id'] %>
                                    <%= number_field_tag "algorithms[#{algorithm['name']}][parameters][#{param['name']}][value]", param['defaultValue'], :step => 'any'  %>
                                </td>
                        </tr>
                        <% end %>
                    </table>
                    </tr>
                    <% end %>
                <% else %>
                <tr>
                    <td> No hay algoritmos disponibles para seleccionar. </td>
                </tr>
                <% end %>
            </tbody>

        </table>
    </div>

    <div class="pr-board box">
        <h2>Ponderacion de criterios</h2>
        <table class="table w-50 mt-5">
            <thead class="thead-dark">
                <tr>
                    <th> Nombre </th>
                    <th> Descripcion </th>
                    <th> Valor </th>
                </tr>
            </thead>

            <tbody>
                <% @ppCriterias.each do |criteria| %>
                <tr>
                    <td> <%= criteria['name']%> </td>
                    <td> <%= criteria['description']%> </td>
                    <td> <%= number_field_tag "criterias[#{criteria['id']}]"  %> </td>
                </tr>
                <% end %>
                
            </tbody>
        </table>
    </div>

    <div class='buttons'>
        <%= form.submit "Crear" %>
    </div>
    
<% end %>