<h2>PriorizationProcessController#get</h2>

<%= @name %>

<form>
  <div class="pr-board box">
    <table class="table w-50 mt-5">
        <thead class="thead-dark"
         <tr>
           <th> Nombre de persona </th>
         </tr>
        </thead>
            
        <tbody>
            <% @people.each do |person| %>
                <tr>
                    <td> <%= person.firstname + person.lastname %> </td>
                </tr>
            <% end %>
        </tbody>

    </table>
  </div>

  
<%= form_tag('/priorization_process_get', :method => "get") do %>  
    <div class="input-group">  
      <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
      <div class="input-group-btn">  
        <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
      </div>  
  </div>  
<% end %>

<% if @results.present? %>  
  <% @results.each do |result| %>  
    <%= result.firstname + result.lastname %>  <br>
  <% end %>
<% end %>  

    
    <div class='buttons'>
      <input type="submit" value='Seleccionar'>
    </div>
  </div>



</form>
