<h2> Nuevo proceso de priorización </h2>

<%= form_with url: project_priorization_process_index_path(), method: :post do |form| %>
    <div class="pr-board box row justify-content-center">
        <h3>Tomadores de decisiones</h2>
        <table id="decision-maker-table" class="table table-striped w-50 mt-10">
            <thead class="thead-light">
                <tr style="text-align: center">
                    <th> Nombre </th>
                    <th> Apellido </th>
                </tr>
            </thead>
                
            <tbody>
                <% @persons.each do |person| %>
                    <tr>
                        <td> <%= person.firstname %> </td>
                        <td> <%= person.lastname %> </td>
                        <td> <%= check_box_tag "persons_ids[]", person['id'], false, :id => "persons_ids_#{person['id']}"  %> </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class="pr-board box  row justify-content-center">
        <h3> Criterios del proceso <button type="button" id="add-btn" class="text-light btn btn-info">Agregar</button></h3>   
        <table id="criteria-table" class="table w-50 mt-10">
            <thead class="thead-light">
                <tr style="text-align: center">
                    <th> Criterio </th>
                    <th> Descripcion </th>
                    <th> Valor por defecto </th>
                </tr>
            </thead>
                
            <tbody>
                <tr style="text-align: center">
                    <td> <%=  text_field_tag "criterias[][name]" %> </td>
                    <td> <%=  text_field_tag "criterias[][description]", '' , size: 50 %> </td>
                    <td> <%=  number_field_tag "criterias[][value]"  %> </td>
                    <td> <button type="button" id="delete-btn" class="btn btn-success"> <i class="fas fa-times"></i> </button> </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pr-board box row justify-content-center">
        <h3>Seleccionar requerimientos</h2>
        <table id="requirement-table" class="table w-50 mt-10">
            <thead class="thead-light">
                <tr style="text-align: center">
                    <th> ID </th>
                    <th> Asunto </th>
                    <th> Descripcion </th>
                    <td> <input type="checkbox" id="select-all-chk">Seleccionar todos</button> </td>
                </tr>
            </thead>
                
            <tbody>
                <% @issues.each do |issue| %>
                    <tr style="text-align: center">
                        <td> <%= issue.id %> </td>
                        <td> <%= issue.subject %> </td>
                        <td> <%= issue.description %> </td>
                        <td> <%= check_box_tag "issues_ids[]", issue['id'], false, :id => "issues_ids_#{issue['id']}"  %> </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>


    <div class='buttons'>
        <%= form.submit "Crear" %>
    </div>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "bootstrap", plugin: "dss_pnrp" %>
  <%= stylesheet_link_tag "fontawesome", plugin: "dss_pnrp" %>
<% end %>

<script>
$("#add-btn").click(function() {
    $('#criteria-table > tbody:last-child').append('<tr><td> <%=  text_field_tag "criterias[][name]" %> </td><td> <%=  text_field_tag "criterias[][description]", '' , size: 50 %> </td><td> <%=  number_field_tag "criterias[][value]"  %> </td><td> <button type="button" id="delete-btn">X</button> </td></tr>');
});


$("#criteria-table").on("click", "#delete-btn", function() {
    $(this).closest('tr').remove(); 
});

$('#select-all-chk').click(function() {
    var checkboxes = $('#requirement-table tbody input:checkbox ');
    $(checkboxes).each(
        function(){
            this.checked = $('#select-all-chk').prop('checked');
        }
    );
});

$('#requirement-table tbody input:checkbox').click(function() {
    var checkAll = $('#select-all-chk');
    if ($(checkAll).is(':checked') && !($(this).is(':checked')))
        { $(checkAll).removeAttr('checked'); }
});

</script>