<h2> Nuevo proceso de priorización </h2>

<%= form_with url: project_priorization_process_index_path(), method: :post do |form| %>
    
    <%= render partial: "decision_taker" %>
    <%= render partial: "criteria_add" %>
    <%= render partial: "requirement_selection"%>

    <div class='buttons'>
        <%= form.submit "Crear" %>
    </div>
    
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "bootstrap", plugin: "dss_pnrp" %>
  <%= stylesheet_link_tag "fontawesome", plugin: "dss_pnrp" %>
  <%= javascript_include_tag "new_process", plugin: "dss_pnrp" %>
<% end %>

<%= javascript_tag do %>
      $("#add-btn").click(function() {
        let html = "";
        html += '<tr style="text-align: center">';
        html += '<td> <%=  text_field_tag "criterias[][name]" %> </td> '; 
        html += '<td> <%=  text_field_tag "criterias[][description]", " " , size: 50 %></td>';
        html += ' <td> <%=  number_field_tag "criterias[][value]"  %> </td> ';
        html += ' <td> <button type="button" id="delete-btn" class="btn btn-success" style="padding-top:0px"> <i class="fas fa-times style="vertical-align: top;font-size: 16px;"></i> </button> </td></tr>';
        $('#criteria-table > tbody:last-child').append(html);
    });
<% end %>