<h4>Ingenieria de requerimientos</h4>

<div >
  <%= link_to "Atras", index_requeriment_engineering_path(@project['id']) %>
</div>

<hr>

<% if !@pp.is_ended? %>
  <div class="options">
    <div class="div1">
        <%= link_to '<button type="button" class="btn btn-info optionbutton">Iniciar proceso</button>'.html_safe, execute_priorization_process_path(@pp) %> 
    </div>
    <div class="div2">
    <%= link_to '<button type="button" class="btn btn-info optionbutton">Seleccionar alternativas</button>'.html_safe, alternatives_priorization_process_path(@pp) %> 
    </div>
    <div class="div3">
      <a href="#" class="button">Ver progreso del proceso actual</a>
    </div>
    <div class="div4">
      <a href="#" class="button">Rechazar proceso actual</a>
    </div>
    <div class="div5">
        <a href="#" class="button">Replanificar </a>
    </div>
    <div class="div6">
      <a href="#" class="button">Seleccionar tomadores de decision</a>
    </div>
  </div>
<hr>
<% end %>

<div class="pr-board box row justify-content-center">
  <table class="table table-striped">

    <thead class="thead-light">
      <h5 style="text-align center"> 
        Proceso de priorizaci贸n 
      </h5>
    </thead>

    <tbody>
      <tr align="center">
          <th> ID </th>
          <th> Finalizado </th>
          <th> Fecha de inicio </th>
          <th> Fecha de actualizaci贸n </th>
      </tr>
            <tr align="center">   
              <td>
                <%= @pp['id'] %>
              </td>
              <td>
                <%= @pp.is_ended? ? 'Si' : 'No' %>
              </td>
              <td>
                <%= @pp['created_at'] %>
              </td>
              <td>
                <%= @pp['updated_at'] %>
              </td>
            </tr>
    </tbody>
  </table>
</div> 

<div class="pr-board box  row justify-content-center">
  <table class="table table-striped">
    <thead class="thead-light">
      <h5 style="text-align center"> 
        Ejecuciones
      </h5>
    </thead>

  <tbody>
    <tr align="center">
        <th> ID </th>
        <th> Solucion creada </th>
        <th> Fecha de inicio </th>
    </tr>
        <% @ppExecutions.each do |execution|%>
          <tr align="center">   
            <td>
            <% if !execution['is_solution_created'] %>
              <%= link_to "#{execution['id'].to_s}", execution_priorization_process_path(id_execution: execution['id']) %>
            <% else %>
              <%= execution['id'] %>
            <% end %>
            </td>
            <td>
            <%= execution['is_solution_created'] ? 'Si' : 'No' %>
            </td>
            <td >
            <%= execution['created_at']%>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>

<div class="pr-board box  row justify-content-center">
  <table class="table table-striped">
    
    <thead class="thead-light">
      <h5 style="text-align center"> 
        Requerimientos del proceso de priorizaci贸n 
      </h5>
    </thead>

  <tbody>
    <tr align="center">
        <th> ID </th>
        <th> Nombre </th>
        <th> Estado </th>
        <th> Prioridad </th>
        <th> Fecha de inicio </th>
    </tr>
        <% @pprIssues.each do |pr|%>
          <tr align="center">   
            <td>
            <%= link_to "#{pr.issue['id'].to_s}", issue_path(pr.issue) %>
            </td>
            <td>
            <%= pr.issue['subject'] %>
            </td>
            <td >
            <%= pr.issue.status.name %>
            </td>
            <td>
            <%= pr.issue.priority.name %>
            </td>
            <td>
            <%= pr.issue['start_date'] %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>

<div class="pr-board box  row justify-content-center">
  <table class="table table-striped">

    <thead class="thead-light">
      <h5 style="text-align center"> 
        Criterios
      </h5>
  </thead>

  <tbody>
    <tr align="center">
        <th> ID </th>
        <th> Nombre </th>
        <th> Descripci贸n </th>
        <th> Valor por defecto </th>
    </tr>
        <% @ppCriterias.each do |cr|%>
          <tr align="center">   
            <td>
            <%= cr['id'] %>
            </td>
            <td>
            <%= cr['name'] %>
          </td>
          <td>
            <%= cr['description'] %>
          </td>
          <td>
          <%= cr['default_value'] %>
          </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>

<hr>

<div class="pr-board box  row justify-content-center">
  <table class="table table-striped">

  <thead class="thead-light">
      <h5 style="text-align center"> 
        Tomadores de decision
      </h5>
  </thead>
    
  <tbody>
    <tr align="center">
        <th> ID </th>
        <th> Nombre </th>
        <th> Apellido </th>
        <th> Administrador </th>
    </tr>
        <% @ppDecisionMakers.each do |pdm|%>
          <tr align="center">   
            <td>
            <%=link_to "#{'User#' + pdm['user_id'].to_s}", user_path(pdm.user)  %>
            </td>
            <td>
            <%= pdm.user['firstname'] %>
            </td>
            <td>
            <%= pdm.user['lastname'] %>
          </td>
          <td>
            <%= pdm['admin'] %>
          </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>

<hr>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "bootstrap", plugin: "dss_pnrp" %>
  <%= stylesheet_link_tag "options", plugin: "dss_pnrp" %>
<% end %>